{% extends "::base.html.twig" %}

{% block content %}
<div class="container-fluid">
    <h1>{{ 'Welcome to The Oro Platform!'|trans }}</h1>
    We can't wait to see what you will create with our Platform...
</div>
{% endblock content %}
