/.settings
/.buildpath
/.project
/.idea
/node_modules
/composer.phar
composer.lock
behat.yml
/build/logs/*
/vendor
node_modules/
/cov
/web/bundles
/web/css
/web/js
/web/images
/web/uploads/users/*
/web/media/cache
/web/build.js
/app/phpunit.xml
/app/karma.conf.js
/app/config/parameters.yml
/app/config/parameters_test.yml
*~
bin

/app/SymfonyRequirements.php
