/.settings
/.buildpath
/.project
/.idea
/node_modules
/composer.phar
composer.lock
behat.yml
/build/logs/*
/vendor
node_modules/
/cov
/web/bundles
/web/css
/web/images
/web/js
/web/uploads/users/*
/web/media/cache
/web/build.js
/web/tracking.php
/app/phpunit.xml
/app/karma.conf.js
/app/config/parameters.yml
/app/config/parameters_test.yml
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
phpunit.xml
*~
bin

/app/SymfonyRequirements.php
/web/sitemaps
/web/uploads/behat
