[submodule "src/Oro"]
	path = src/Oro
	url = git@github.com:laboro/platform.git
[submodule "src/OroPackages/src/Oro/Bundle/EntitySerializedFieldsBundle"]
	path = src/OroPackages/src/Oro/Bundle/EntitySerializedFieldsBundle
	url = git@github.com:laboro/OroEntitySerializedFieldsBundle.git
[submodule "src/OroB2B"]
	path = src/OroB2B
	url = git@github.com:laboro/commerce.git
