imports:
  - ../../package/platform/src/Oro/Bundle/TestFrameworkBundle/Resources/config/behat.yml.dist

default: &default
    extensions:
        Behat\MinkExtension:
            base_url: 'http://dev-commerce-crm.local/'
        Behat\Symfony2Extension: ~
        Oro\Bundle\TestFrameworkBundle\Behat\ServiceContainer\OroTestFrameworkExtension:
            reference_initializer_class: Oro\Bundle\ApplicationBundle\Tests\Behat\ReferenceRepositoryInitializer
            shared_contexts:
                - Oro\Bundle\ApplicationBundle\Tests\Behat\Context\CommerceMainContext
            application_suites:
                - OroApplicationBundle
                - OroUserBundle
                - OroCRMBundle
                - OroNavigationBundle
                - OroCRMContactBundle
                - OroCRMAccountBundle
                - OroCRMTaskBundle

selenium2:
    <<: *default
