imports:
  - ./vendor/oro/platform/src/Oro/Bundle/TestFrameworkBundle/Resources/config/behat.yml.dist

default: &default
    gherkin:
        filters:
            tags: ~@not-automated&&~@skip
    extensions: &default_extensions
        Behat\MinkExtension:
            base_url: 'http://dev-commerce-crm.local/'
        FriendsOfBehat\SymfonyExtension:
            kernel:
                debug: false
                class: AppKernel
        Oro\Bundle\TestFrameworkBundle\Behat\ServiceContainer\OroTestFrameworkExtension:
            shared_contexts:
                - Oro\Bundle\TestFrameworkBundle\Tests\Behat\Context\OroMainContext
                - Oro\Bundle\TestFrameworkBundle\Tests\Behat\Context\FixturesContext
                - Oro\Bundle\ActivityListBundle\Tests\Behat\Context\ActivityContext
                - Oro\Bundle\DataGridBundle\Tests\Behat\Context\GridContext
                - Oro\Bundle\FormBundle\Tests\Behat\Context\FormContext
                - Oro\Bundle\SecurityBundle\Tests\Behat\Context\ACLContext
                - Oro\Bundle\SearchBundle\Tests\Behat\Context\SearchContext
                - Oro\Bundle\EmailBundle\Tests\Behat\Context\EmailContext
                - Oro\Bundle\ImportExportBundle\Tests\Behat\Context\ImportExportContext
                - Oro\Bundle\AddressBundle\Tests\Behat\Context\AddressContext
                - Oro\Bundle\ApplicationBundle\Tests\Behat\Context\CommerceMainContext
                - Oro\Bundle\CustomerBundle\Tests\Behat\Context\CustomerUserContext
                - Oro\Bundle\OrderBundle\Tests\Behat\Context\OrderContext
                - Oro\Bundle\ShippingBundle\Tests\Behat\Context\SingleCurrencyContext
                - Oro\Bundle\ShoppingListBundle\Tests\Behat\Context\ShoppingListContext
                - Oro\Bundle\RedirectBundle\Tests\Behat\Context\SlugPrototypesContext

chromedriver:
    <<: *default
